#!/bin/bash
#SBATCH --job={{job_name}}
#SBATCH --account={{account}}
#SBATCH --partition={{partition}}
#SBATCH --nodes={{nodes}}
#SBATCH --ntasks={{ntasks}}
#SBATCH --cpus-per-task={{cpus-per-task}}
#SBATCH --time={{time}}
#SBATCH --mem={{memory}}
#SBATCH --output={{output}}

data_path={{pdb_ids_path}}
pdb_ids={{pdb_ids}}
pdb_dir={{pdb_dir}}
tmp_path={{tmp_path}}
split={{split}}
file_idx={{file_idx}}

set -e

{{run_structural_info}}

exit 0